@import "butter.ui.deprecated.css"
@import "common.styl"
@import "highlight.styl"
@import "modal.styl"
@import "loader.styl"
@import "tray.styl"
@import "header.styl"
@import "media.styl"
@import "editor.styl"
@import "timeline.styl"
@import "plugin-tray.styl"

.butter-image-preload
  visibility hidden
  position absolute
  width 1px
  height 1px
  opacity 0
