/* MetaWebPro font family licensed from fontshop.com. WOFF-FTW! */
@font-face {
   font-family: 'MetaBold';
   src: url('http://www.mozilla.org/img/fonts/MetaWebPro-Bold.eot');
   src: local('☺'), url('http://www.mozilla.org/img/fonts/MetaWebPro-Bold.woff') format('woff');
   font-weight: bold;
}
@font-face {
  font-family: 'BebasRegular';
  src: url('../resources/fonts/BEBAS___-webfont.eot');
  src: url('../resources/fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
       url('../resources/fonts/BEBAS___-webfont.woff') format('woff'),
       url('../resources/fonts/BEBAS___-webfont.ttf') format('truetype'),
       url('../resources/fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

box-sizing()
  -moz-box-sizing arguments
  box-sizing arguments

box-shadow()
  -webkit-box-shadow arguments
  box-shadow arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments

transform()
  -webkit-transform arguments
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  transform arguments

overflow-scrolling()
  -webkit-overflow-scrolling arguments
  overflow-scrolling arguments

animation()
  -moz-animation arguments
  -webkit-animation arguments
  -o-animation arguments
  -ms-animation arguments
  animation arguments

user-select()
  -webkit-user-select arguments
  -moz-user-select arguments
  -ms-user-select arguments
  -o-user-select arguments
  user-select arguments

touch-callout()
  -webkit-touch-callout arguments
  -moz-touch-callout arguments
  -o-touch-callout arguments
  -ms-touch-callout arguments
  touch-callout arguments

linear-grad(start, end)
  background start
  background -moz-linear-gradient(top, start 0%, end 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%, start), color-stop(100%, end))
  background -webkit-linear-gradient(top, start 0%, end 100%)
  background -o-linear-gradient(top, start 0%, end 100%)
  background -ms-linear-gradient(top, start 0%, end 100%)
  background linear-gradient(top, start)

