.butter-highlight
  position absolute
  z-index 2100000000
  opacity 1
  pointer-events none

.butter-highlight[ data-blink="true" ]
  transition opacity 1.5s
  opacity 0

.butter-target-highlight
  background-color rgba( 170, 170, 10, 0.4 )

.butter-media-highlight
  background-color rgba( 10, 170, 170, 0.4 )
