<div class="collaboration-editor butter-editor fadable alternates-hidden allow-scrollbar">
  <h1>Collaborate
    <span class="media-loading-spinner butter-spinner" ></span>
  </h1>
  <div class="butter-editor-body scrollbar-container">
    <div class="scrollbar-outer">
      <div class="scrollbar-inner">
        <fieldset>
          <p>Send an invitation to a friend to start collaborating!</p>
          <input class="invitation-email" type="text" placeholder="bleep@bloop.com" />
          <a class="invitation-button butter-btn btn-light">Send Invitation</a>
        </fieldset>
      </div>
    </div>
  </div>
</div>