<div class="butter-editor-area butter-form">
  <div class="butter-editor-header">
    <ul>
      <li class="butter-editor-header-li"><a class="butter-btn butter-editor-header-media">
        <span class="icon icon-white icon-film"></span>
        Media
      </a></li>
      <li class="butter-editor-header-li"><a class="butter-btn butter-editor-header-popcorn">
        <span class="icon icon-white icon-plus"></span>
        Events
      </a></li>
      <li class="butter-editor-header-li"><a class="butter-btn butter-editor-header-share">
        <span class="icon icon-white icon-share"></span>
        Share
      </a></li>
      <li class="butter-editor-close-btn"><a class="butter-btn">
        <span class="icon icon-only icon-white icon-chevron-right"></span>
      </a></li>
    </ul>
  </div>
  <div class="butter-editor-content"></div>
</div>

<ul class="butter-editor-tabs" butter-mixin="editor-tabs"></ul>
<li class="butter-editor-tab" butter-mixin="editor-tab">
  <a class="butter-btn" butter-mixin-classes="editor-tab" butter-mixin-content-destination></a>
</li>

<div class="butter-editor-body scrollbar-container" butter-mixin="editor-body" butter-mixin-classes="editor-body">
  <div class="editor-options-wrapper scrollbar-outer" butter-mixin-content-destination>
    <div class="error-message-container">
      <div class="error-message"></div>
    </div>
  </div>
</div>

<div class="editor-options scrollbar-inner" butter-mixin="editor-body-content-container"></div>

<div class="butter-editor allow-scrollbar" butter-mixin="editor" butter-mixin-classes="editor"></div>
